### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [4]:
import pandas as pd

In [70]:
data_r = pd.read_csv('ratings.dat', sep= '::', header =None)
data_w = pd.read_csv('movies.dat', sep= '::', header =None)

<ipython-input-70-603b4a40dfa5>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data_r = pd.read_csv('ratings.dat', sep= '::', header =None)

In [169]:
# подготовили данные

data_r['film_id'] = data[2]
data_r['rating'] = data[4]
rating_data = data_r[['film_id', 'rating']]
#print(rating_data.info())

data_w['film_id'] = data_w[0]
data_w['film_name'] = data_w[1]
film_info_data = data_w[['film_id', 'film_name']]
#print(film_info_data.info())

joined = data_r.merge(data_w, on='film_id', how='left')
data_final = joined[['film_id','rating','film_name']]

data_final.head()

# нашли фильм с наибольшим кол-во 5 
film_w_five = data_final[data_final.rating>=5]
id_film = film_w_five['film_name'].value_counts().head(1)
id_film.head()

print(f'Самое большое кол-во оценок 5 выставлено фильму: {id_film.head()}')

Самое большое кол-во оценок 5 выставлено фильму: American Beauty (1999)    1963
Name: film_name, dtype: int64

### Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [208]:
data_energy = pd.read_csv('power.csv')
final_data_energy_info = data_energy[
            ((data_energy['country']=='Latvia')|
             (data_energy['country']=='Estonia')|
             (data_energy['country']=='Lithuania'))&
    
            ((data_energy['year']>=2005)&(data_energy['year']<=2010))&
    
            ((data_energy['category']==4)|
             (data_energy['category']==12)|
             (data_energy['category']==21))&
    
            ((data_energy['quantity']>0))
                ]
final_sum = 0
for i in list(final_data_energy_info['quantity']):
    final_sum += i
print(final_sum)

240580.0

### Задание 3

In [221]:
data_html = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni')[0]

In [222]:
data_html

,0,1,2,3,4,5,6,7,8,9,10,11
0,аааа,3Т 371,"0,4%",Nasdaq,12Т 741,"-0,6%",ааИбаКаОаЙаН,37Т 305,"1,2%",USD/RUB,739909,"0,1%"
1,а аЂаЁ,1Т 437,"0,7%",S&P500,3Т 748,"0,6%",ааЕббб,547,"1,1%",EUR/RUB,913985,"0,3%"
2,Dow,30Т 829,"1,4%",FTSE100,6Т 842,"3,5%",ааОаЛаОбаО,1Т 918,"-0,1%",EUR/USD,12330,"0,0%"